body {
    background-color: rgb(202, 235, 246);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.homepage {
    padding: 0 20px;
}

.content {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.block {
    padding: 14px 20px 20px;
    border: 1px solid black;
    border-radius: 4px;
    align-self: flex-start;
    background-color: white;
}
.block:hover {
    background-color: rgb(246, 253, 255);
}
.block h2 {
    margin: 0 0 14px;
    padding: 0;
}

.block-content {
    padding: 0 20px;
}