nav {
    letter-spacing: normal;
    line-height: normal;
    pointer-events: none;

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    --div-offset: -12px;
}

nav div {
    pointer-events: all;
    color: white;
    background-color: rgb(16, 138, 199);
    opacity: 0.55;
    padding: 28px 20px;
    border-radius: 48px;

    transition: transform 2s ease, border-radius 1s ease, padding 1.5s ease, opacity 0.8s ease;
}
nav div a {
    text-transform: uppercase;
    font-family:'Courier New', Courier, monospace;
    color: inherit;
}

nav div:hover {
    opacity: 1;
    background-color: (16, 138, 199, 1.0);
    padding: 32px 24px;
    border-radius: 42px;
    transform: scale(1.1);
}

nav .prev {
    position: absolute;
    bottom: var(--div-offset);
    left: var(--div-offset);
}

nav .next {
    position: absolute;
    top: var(--div-offset);
    right: var(--div-offset);
}

nav .home {
    background-color: rgb(33, 102, 14);
    position: absolute;
    bottom: var(--div-offset);
    right: var(--div-offset);
}