.divider {
    height: 2px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
#section-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 0 10%;
}

.section-preview-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.section-preview-container img {
    flex: 0 1 ;
    aspect-ratio: 1;
    height: 30dvh;
}

.section-preview-content {
    flex: 1 0;
}
.section-preview-content * {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    padding: 4px 0 0;
}
h3 {
    margin: 0;
    padding: 4px 0 10px;
    font-weight: normal;
    font-style: italic;
}

.ideal {
    color: rgb(204, 21, 21);
    font-weight: bold;
}
.kay-gonda {
    color: rgb(123, 0, 148);
    font-weight: bold;
}
.emphasis {
    text-transform:uppercase;
    color: black;
    opacity: 0.6;
    text-indent: 0;
    text-align: center;
    margin: 20px 10px;
}


#page-title {
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
    text-indent: 0;
    text-align: center;
}
#page {
    height: calc(100dvh - 50px);
    /* overflow: hidden; */

    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 40px 3% 0;
    text-indent: 2rem;
}
#page p {
    margin: 4px 0 ;
}

#page-content {
    margin: 0 14vw;
    gap: 32px;
    padding-top: 18px;
}

.pull-quote {
    text-indent: 0;
    margin: 1rem 2rem;
    padding: 4px 20px;
    border-left: 1px solid rgb(13, 13, 55);
}
.block {
    margin: 0 2rem;
}
.small-caps {
    font-style: normal;
    font-variant: small-caps;
}
.no-italic {
    font-style: normal;
}
.center {
    margin: 0 auto;
    text-align: center;
}





/* CHARACTERS */
.content {
    margin: 4vh 0;
}
.center {
    text-align: center;
}

#characters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 40px;
    margin: 4vh 8vw;
}
#characters > div {
    flex: 1 1 30%;
    max-width: 280px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.character-block {
    width: 85%;
}
#characters img {
    width: 100%;
}
#characters h4 {
    font-weight: normal;
    margin: 6px 0 0;
}