:root {
    --bottom-header-space: 78px;
    --ideal-title-color: rgb(238, 35, 126);
    --ideal-title-secondary-color: rgb(202, 40, 113);
    --kay-gonda-white-bg: rgb(137, 6, 137);
}

html {
    background-color: rgb(32, 6, 32);
    color: white;
}
body {
    margin: 0;
    padding: 0;
}

.div {
    filter: brightness(0) invert(1);
    opacity: 0.9;
    height: 40px;
}
.div:hover {
    opacity: 1.0;
}

.grayscale {
    filter: grayscale(1);
}

.divider {
    height: 28px;
    width: 100%;
    object-fit: contain;
}



#full-curtain {
    width: 100vw;
    object-fit: cover;
    padding: 0;
    margin: 0 auto;
    max-height: 100%;
    top: 0;

    z-index: -1;
    position: fixed;
}
#partial-curtain {
    width: 100vw;
    object-fit: fill;
    padding: 0;
    margin: 0 auto;
    max-height: 100%;
    top: 0;

    z-index: 1;
    position: fixed;
    pointer-events: none;
}
#top-curtain {
    width: 100vw;
    height: 50px;
    object-fit: fill;
    padding: 0;
    margin: 0 auto;
    max-height: 100%;
    top: 0;

    z-index: 1;
    position: fixed;
    pointer-events: none;
}



#section-index {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 92dvh;
    overflow: auto;
    gap: 20px;
    padding: 0px 10%;
    margin-top: 50px;
}
#scene-index-padding-top {
    padding: 20px 1px 0;
    background: inherit;
}
#scene-index-padding {
    padding: 100px 1px 0;
    background: inherit;
}

.section-preview-container {
    cursor: pointer;
    background: rgb(17, 1, 24);
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
    padding: 24px 30px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 36px;

    transition: transform 0.4s ease-in-out;
}
.section-preview-container:hover {
    transform: scale(1.01, 1.01);
    /* transform: translate(2px, 2px); */
    background: rgb(64, 0, 31);
    border: 1px solid rgba(255, 255, 255);
}
.section-preview-container a {
    color: white;
}
.section-preview-container img {
    object-fit: cover;
    flex: 0 1 ;
    aspect-ratio: 1;
    height: 34dvh;
    max-width: 36dvw;
}
@media (max-width: 720px) {
    .section-preview-container {
        max-height: 80vh;
        justify-content: start;
        flex-direction: column;
    }
    .section-preview-container img {
        flex: 100 0;
        max-height: 40dvh;
        max-width: 70dvw;
    }
}

.section-preview-content {
    flex: 1 0;
}
.section-preview-content * {
    margin: 0;
    padding: 0;
}

.section-preview-text {
    margin-top: 20px;
    height: 25vh;
    overflow: hidden;
    text-indent: 1.5rem;
}

h2 {
    margin: 0;
    padding: 4px 0 0;
}
h3 {
    margin: 0;
    padding: 4px 0 10px;
    font-weight: normal;
    font-style: italic;
}

@keyframes ideal-color-change {
  0% { color: rgb(255, 164, 164) }
  100% { color: rgb(247, 129, 129);}
}
.ideal {
    animation: ideal-color-change 6s ease-in-out infinite alternate;
}
.kay-gonda {
    color: rgb(209, 130, 238);
    /* font-weight: bold; */
}
@keyframes kay-gonda-shift {
  0% { text-shadow: 0px 0px 0px white; }
  100% { text-shadow: 2px 2px 4px rgba(59, 0, 71, 0.5); }
}
.kay-gonda:hover {
    animation: kay-gonda-shift 1s ease-in-out infinite alternate;
}
.emphasis {
    text-transform:uppercase;
    color: black;
    opacity: 0.6;
    text-indent: 0;
    text-align: center;
    margin: 20px 10px;
}




#page-title {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1.5px solid gray;
    text-indent: 0;
    text-align: center;
}
#page {
    height: calc(100dvh - 100px);

    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: var(--bottom-header-space) 3% 0;
    text-indent: 1.5rem;
}
#page p {
    margin: 4px 0 ;
}

#page-content {
    margin: 0 9vw;
    gap: 32px;
    padding-bottom: 80px;
}

.pull-quote {
    text-indent: 0;
    margin: 1rem 2vw;
    padding: 4px 1rem;
    border-left: 1px solid rgb(13, 13, 55);
}
.block {
    margin: 0 1rem;
    text-align: center;
}
.small-caps {
    font-style: normal;
    font-variant: small-caps;
}
.no-italic {
    font-style: normal;
}
.center {
    margin: 0 auto;
    text-align: center;
}

.dialogue {
    font-weight: 500;
    color: rgb(246, 188, 205);
}
.dialogue:hover {
    text-shadow: 4px 2px 2px rgba(255, 127, 174, 0.6);
}






/* Header */
.index-header {
    background: rgb(171, 11, 46, 1.0) !important;
}
.header {
    width: 100dvw;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 12px 0px;

    position:fixed;
    background-color: rgb(171, 11, 46, 1);
    z-index: 2;
}
.header a {
    color: white;
    text-decoration: none;
}
.header a:hover {
    text-decoration: underline;
}
.header a b {
    color: white;
    transition: color 2s ease-in-out, text-shadow 1s ease-in-out;
}
.header a b:hover {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    color: var(--ideal-title-color);
}
.header h2 {
    font-size: 22px;
    font-weight: normal;
    padding: 0;
    margin: 0;
}





/* Page Turner */
#page-turner {
    position: fixed;
    display: flex;
    justify-content:space-between;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 2;
}
#page-turner img {
    padding: 0;
    margin: 0;
    background-color: rgb(164, 55, 172);
    height: 10vh;
    object-fit: contain;
}
#page-turner img:hover {
    background-color: rgb(196, 78, 205);
}
#prev-page {
    cursor: pointer;
} 
#next-page {
    cursor: pointer;
} 



/* Scenes */
.no-indent {
    text-indent: 0;
}
.letter {
    font-family: cursive;
    color: black;
    background-color: rgb(251, 251, 250);

    padding: 18px 36px;
    width: 60vw;
    margin: 20px auto;
    columns: 1;
}
.letter .kay-gonda {
    font-weight: bold;
    color: var(--kay-gonda-white-bg);
}
.less-marg {
    width: 90%;
    padding: 20px;
    margin: 0 auto;
}
.script {
    column-width: 34vw;
    column-gap: 40px;
}

@media (max-width: 760px) {
    .script {
        column-width: 50vw;
        margin: 0 6vw;
    }
}

.page {
    display: none;
}
.active {
    display: block;
}




/* CHARACTERS */
.hidden-character {
    display: none !important;
}
.active-character {
    display: block;
}
#character-data {
    padding-top: var(--bottom-header-space);
}

.content {
    padding-top: var(--bottom-header-space);
    height: 89vh;
    overflow: auto;
    position: relative;
}
.center {
    text-align: center;
}

#characters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 40px;
    margin: 4vh 8vw;
}
#characters > div {
    flex: 1 1 240px;
    max-width: 36vw;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.character-block:hover {
    transform: rotate(1deg);
    background: rgba(208, 0, 255, 0.04);
}
.character-block {
    cursor: pointer;
    padding: 20px 10px;
    border-radius: 8px;
    width: 85%;
}
.character-block > img {
    object-fit: contain;
    max-width: 70%;
}
.character-block h3 {
    color: rgb(255, 182, 203);
    margin: 4px 4px 0;
    padding: 0;
}
#characters img {
    width: 100%;
    max-height: 18vh;
    margin-bottom: 14px;
}
#characters h4 {
    font-weight: normal;
    margin: 10px 0 0;
}

.quote-list {
    display: flex;
    flex-direction: column;
    margin: 20px 14vw 100px;
    gap: 40px;
}
.quote-header {
    display: flex;
    align-items: center;
    margin: 10px 4dvw;
    justify-content: space-between;
    gap: 6dvw;
}

@media (max-width: 700px) {
    .quote-header {
        flex-direction: column;
        gap: 40px;
    }
}
.quote-header button {
    border-radius: 20px;
    background: var(--ideal-title-color);
    color: white;
    border: 2px outset white;
    padding: 8px 14px;
}
.quote-header button .kay-gonda {
    color: var(--kay-gonda-white-bg);
}
.quote-header button:hover {
    cursor: pointer;
    background: var(--ideal-title-secondary-color);
    border: 2px inset white;
    padding: 10px 14px;
}

.character-title {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.character-title h1 {
    margin: 0;
    padding: 0;
}
.character-title h2 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-style: italic;
}
.character-title a {
    margin-top: 20px;
    color: pink;
}
.quote {
    color: black;
    background: rgb(255, 251, 239);
    padding: 4px 30px;
    text-align: center;

    transition: transform 1s ease-in-out;
}
.quote:hover {
    background: #fffdf8;;
    transform: scale(1.02, 1.02);
}
.quote .kay-gonda {
    font-weight: bold;
    color: var(--kay-gonda-white-bg);
}
.quote h3 {
    color: rgb(140, 6, 64);
    font-weight: bold;
    font-style: normal;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* INDEX PLAY TITLE THING */
#main-title {
    width: 100%;
    height: 100%;
    position: fixed;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#main-title h1 {
    text-shadow: 8px 8px 20px rgb(0, 0, 0);
    font-size: 100px;
    margin: 0;

    transition: color 1.5s ease-in-out;
}
#main-title h1:hover {
    color: var(--ideal-title-color)
}
#main-title h3 {
    text-shadow: 8px 8px 20px rgb(0, 0, 0);
    font-size: 36px;
    font-weight: normal;
    font-style: normal;

    transition: color 1.5s ease-in-out;
}
#main-title h3:hover {
    color: rgb(227, 50, 246);
}
#begin-button {
    cursor: pointer;
    margin-top: 32px;
    padding: 8px 16px;
    font-weight: bold;
    font-size: 18px;
    border: 1px solid white;
    background: pink;
    border-radius: 8px;
    box-shadow: 4px 4px 10px black;

    transition: transform 0.8s ease-in-out, font-size 0.8s ease-in-out;
}
#begin-button:hover {
    font-size: 20px;
    background: white;
    transform: scale(1.03, 1.03);
}

#sub-header {
    width: 90%;
    position: fixed;
    top: 80px;
    display: flex;
    align-items: stretch;
    font-size: 24px;
    font-style: italic;
}
#sub-header .left {
    flex-basis: 50%;
    text-align: left;
    text-shadow: -6px 6px 5px rgba(0, 0, 0, 0.8);
}
#sub-header .right {
    flex-basis: 50%;
    text-align: right;
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.8);
}

#sub-header .left:hover {
    font-style: normal;
}
#sub-header .right:hover {
    font-style: normal;
}




/* About section */
#about-content {
    margin: 12vh 10vw;
    padding: 36px 48px;
    background: black;
    color: white;
}
#about-content h1 {
    margin-top: 0;
}
#about-content a {
    color: white;
}