:root {
    --bottom-header-space: 30px;
}

html {
    background-color: rgb(32, 6, 32);
    color: white;
}

.divider {
    height: 2px;
    width: 100%;
    border-bottom: 1px solid white;
}
#section-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 91vh;
    overflow: auto;
    gap: 40px;
    padding: 0 10%;
}
#scene-index-padding {
    padding: 1px 1px 0;
}

.section-preview-container {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.section-preview-container a {
    color: white;
}
.section-preview-container img {
    flex: 0 1 ;
    aspect-ratio: 1;
    height: 30dvh;
}

.section-preview-content {
    flex: 1 0;
}
.section-preview-content * {
    margin: 0;
    padding: 0;
}

.section-preview-text {
    margin-top: 24px;
    height: 20vh;
    overflow: hidden;
    text-indent: 1.5rem;
}

h2 {
    margin: 0;
    padding: 4px 0 0;
}
h3 {
    margin: 0;
    padding: 4px 0 10px;
    font-weight: normal;
    font-style: italic;
}

.ideal {
    color: rgb(255, 102, 102);
}
.kay-gonda {
    color: rgb(225, 143, 255);
    font-weight: bold;
}
.emphasis {
    text-transform:uppercase;
    color: black;
    opacity: 0.6;
    text-indent: 0;
    text-align: center;
    margin: 20px 10px;
}




#page-title {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1.5px solid gray;
    text-indent: 0;
    text-align: center;
}
#page {
    height: calc(100dvh - 100px);
    /* overflow: hidden; */

    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: var(--bottom-header-space) 3% 0;
    text-indent: 1.5rem;
}
#page p {
    margin: 4px 0 ;
}

#page-content {
    margin: 0 10vw;
    gap: 32px;
    padding-bottom: 80px;
}

.pull-quote {
    text-indent: 0;
    margin: 1rem 1.5rem;
    padding: 4px 1rem;
    border-left: 1px solid rgb(13, 13, 55);
}
.block {
    margin: 0 1rem;
    text-align: center;
}
.small-caps {
    font-style: normal;
    font-variant: small-caps;
}
.no-italic {
    font-style: normal;
}
.center {
    margin: 0 auto;
    text-align: center;
}





/* Header */
.header {
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 6px 0px;

    position:sticky;
    background-color: rgb(171, 11, 46);
}
.header a {
    color: white;
}





/* Page Turner */
#page-turner {
    position: fixed;
    display: flex;
    justify-content:space-between;
    width: 100%;
    bottom: 0;
    left: 0;
}
#prev-page {
    background-color: rgb(214, 209, 255);
    color: black;
    padding: 10px;
} 
#next-page {
    background-color: rgb(191, 200, 255);
    color: black;
    padding: 10px;
} 





/* Scenes */
.no-indent {
    text-indent: 0;
}
.letter {
    font-family: cursive;
    color: black;
    background-color: rgb(251, 251, 250);

    padding: 18px 36px;
    width: 420px;
    margin: 20px auto;
    columns: 1;
}
.script {
    column-width: 34vw;
}
.page {
    display: none;
}
.active {
    display: block;
}




/* CHARACTERS */
.content {
    padding-top: var(--bottom-header-space);
    height: 98vh;
    overflow: auto;
    position: relative;
}
.center {
    text-align: center;
}

#characters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 40px;
    margin: 4vh 8vw;
}
#characters > div {
    flex: 1 1 30%;
    max-width: 270px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.character-block {
    width: 85%;
}
#characters img {
    width: 100%;
    margin-bottom: 6px;
}
#characters h4 {
    font-weight: normal;
    margin: 6px 0 0;
}